.contenedor_botones{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin: auto 0;
}
.centrado{
  text-align: center;
}
.formulario{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}